@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Secular+One&family=Sriracha&display=swap');
*{
    margin: 0;
    padding: 0;
    overflow: hidden;
    box-sizing: border-box;
}
body, html{
    height: 100vh;
}
input:focus{
    outline: 0;
}
body{
    display: flex;
    position: relative;
    background-color: rgb(51, 47, 53);
    color: white;
    background: center center no-repeat linear-gradient(to bottom, rgb(154, 98, 206), rgb(69, 219, 69)) fixed;
    background-size: cover;
}
main{
    position: absolute;
    padding: 20px 25px;
    box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.295);
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.712);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 400px;
    padding-top: 55px;
}
h1{
    text-align: center;
    font-family: 'Secular One', sans-serif;
    font-weight: normal;
    font-size: 2em;
    text-shadow: 1px 1px 3px rgb(154, 98, 206);
}
p.form img{
    width: 35px;
    transform: translate(0px, 13px);
}
input#iemail{
    height: 30px;
    width: 84%;
    border-radius: 10px;
    border: none;
    padding-left: 10px;
}
input#ipass{
    height: 30px;
    width: 84%;
    margin-bottom: 10px;
    border-radius: 10px;
    border: none;
    padding-left: 10px;
}
input#entrar{
    height: 35px;
    width: 100%; 
    margin: 1px; 
    background-color: rgb(154, 98, 206);
    color: white;
    border: none;
    margin-bottom: 10px;
    border-radius: 15px;
    font-size: 0.9em;
}
input#entrar:hover{
    background-color: rgb(69, 219, 69);
    transition: .3s;
    cursor: pointer;
    transform: translate(-1px, -1px);
    transition: ease transform 0.3s;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.116);
}
input#esqueceu{
    height: 35px;
    width: 100%;
    background-color: rgb(154, 98, 206);
    color: white;
    border: none;
    border-radius: 15px;
}
.but{
    text-align: center;
}
input#esqueceu:hover{
    background-color: rgb(69, 219, 69);
    transition: .3s;
    cursor: pointer;
    transform: translate(-1px, -1px);
    transition: ease transform 0.3s;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.116);
}
p#cadastro{
    text-align: center;
    margin-top: 14px;
    font-family: 'Secular One', sans-serif;
}
p#cadastro > a{
    text-decoration: none;
    color: rgb(69, 219, 69);
}
p#cadastro:hover{
    text-decoration: underline;
}
