*{
    padding: 0px;
    margin: 0px;
}
::-webkit-scrollbar{
    width: 0px;
    height: 0px;
}
a{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3em;
    color: white;
}
div{
    background-color: rgb(75, 75, 235);
    height: 100px;
    text-align: center;
    margin-top: -12px;
    width: 100vw;
    padding-top: 50px;
}
img{
    width: 100vw;
}
div:hover{
    background-color: blue;
    transition-duration: 0.5s;
}